main>.container {
    padding: 60px 15px 0;
}

.big-icon {
    font-size: 150px;
}

#custombackgroundcolor {
    background-color: #0EBFE9;
}

.custombackgroundcolor {
    background-color: #0EBFE9;
}

#customtextcolor {
    color: #0EBFE9;
    ;
}

.customtextcolor {
    color: #0EBFE9;
    ;
}

.notbold {
    font-weight: normal
}

.new-input {
    width: 250px
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

<style>a:link {
    color: #4dc0e9;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #4dc0e9;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #4dc0e9;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #4dc0e9;
    background-color: transparent;
    text-decoration: none;
}

</style>